# ENV
NODE_ENV = 'Development'

# PORT
PORT = 3000

# LOG
LOG_LEVEL = silly

# DATABASE
DB_HOST = 'hosting/localhost'
DB_USER = 'database user'
DB_PASS = 'database password
DB_DATABASE = 'database name'